[submodule "app/widgets/com.netsmartcompany.rating"]
	path = app/widgets/com.netsmartcompany.rating
	url = ../com.netsmartcompany.rating.git
[submodule "app/widgets/AlloyCountDownWidget"]
	path = app/widgets/AlloyCountDownWidget
	url = ../AlloyCountDownWidget.git
[submodule "app/widgets/photogrid"]
	path = app/widgets/photogrid
	url = https://github.com/kgividen/photogrid.git
